<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />

<link href="../static/css/guru.css"
      th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>

<head>
    <title>Customers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
<h1> All Customers</h1>
<table border="1" style="width:300px" class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Forename</th>
        <th>Lastname</th>
        <th>Birthdate</th>
        <th>Gender</th>
        <th>Zipcode</th>
        <th>Street</th>
        <th>Housenumber</th>
        <th>City</th>
        <th>EMail</th>
    </tr>
    <tr th:each="${customer}">

    </tr>
</table>
</div>
</body>
</html>