<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />

<link href="../static/css/guru.css"
      th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>

<head>
    <title>Customers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="row">
    <div class="col-md 2 col-md-offset-2" style="with:100%">
        <h1> All Customers</h1>

       <!-- <form action="#" th:action="@{/createCustomer}" th:object="${customerForm}" method="get">
            <button id="button33" type="submit" class="btn btn-primary" name="createCustomer" >Create Customer</button>
        </form>
        -->
        <a href="createCustomer">Kunden hinzufügen</a>

        <br/>
        <p></p>
        <table th:if="${customerPage} and ${customerPage.totalElements} > 0" id ="customerTable" border="1" class="table table-striped ">
            <thead>
            <th>ID</a></th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Birthdate</th>
            <th>Gender</th>
            <th>Zipcode</th>
            <th>Street</th>
            <th>Housenumber</th>
            <th>City</th>
            <th>EMail</th>
            </thead>
            <tbody>
            <tr th:each="customer: ${customerPage}">
                <td th:text="${customer?.id}"></td>
                <td th:text="${customer?.firstname}"></td>
                <td th:text="${customer?.lastname}"></td>
                <td style="white-space:nowrap;" th:text="${customer?.birthdate}"></td>
                <td th:text="${customer?.gender}"></td>
                <td th:text="${customer?.zipcode}"></td>
                <td style="white-space:nowrap;" th:text="${customer?.street}"></td>
                <td th:text="${customer?.housenumber}"></td>
                <td th:text="${customer?.city}"></td>
                <td th:text="${customer?.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center" th:if="${customerPage} and ${customerPage.totalElements} > 0">
    <nav>
        <ul class="pagination">
            <li th:classappend="${customerPage.first} ? 'disabled' : ''">
                <a href="#!" aria-label="First"
                   th:href="${customerPage.first} ? '#!' : @{${url}(page=0)}">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li th:classappend="*{customerPage.first} ? 'disabled' : ''">
                <a href="#!" aria-label="Previous"
                   th:href="${customerPage.first} ? '#!' : @{${url}(page=${customerPage.number - 1})}">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li class="active">
                <a href="#!" th:text="${customerPage.number + 1} + '/' + ${customerPage.totalPages}">
                    1/1<span class="sr-only">(current)</span>
                </a>
            </li>
            <li th:classappend="${customerPage.last} ? 'disabled' : ''">
                <a href="#!" aria-label="Next"
                   th:href="${customerPage.last} ? '#!' : @{${url}(page=${customerPage.number + 1})}">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li th:classappend="${customerPage.last} ? 'disabled' : ''">
                <a href="#!" aria-label="Last"
                   th:href="${customerPage.last} ? '#!' : @{${url}(page=${customerPage.totalPages - 1})}">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="alert alert-info" role="alert" th:unless="${customerPage} and ${customerPage.totalElements} > 0">
    <p class="text-center">Es wurden keine Einträge gefunden.</p>
</div>



</body>
</html>